#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}
header {
  background-color: #111023;
  color: white;
  height: 15vh;
}

#container {
  height: 85vh;
  flex-grow: 8;
  display: flex;
  flex-direction: row;
}

.article-aside-div {
  flex-grow: 9;
  display: flex;
  flex-direction: row;
}
article {
  flex-grow: 7;
}
aside {
  background-color: #320388;
  color: white;
  flex-grow: 1;
}
nav {
  background-color: #c22177;
  color: white;
  flex-grow: 1;
}
footer {
  background-color: #111023;
  color: white;
  height: 15vh;
}

h3 {
  margin: 0;
  padding: 20px;
}

/* TABLET */
@media (max-width: 900px) {
  #container {
    flex-direction: column;
  }
  .article-aside-div {
    flex-grow: 3;
  }
  nav {
    flex-grow: 0.5;
  }
}

@media (max-width: 414px) {
  #container {
    flex-direction: column;
  }

  .article-aside-div {
    flex-direction: column;
    flex-grow: 10;
  }

  article {
    flex-grow: 10;
  }
}
