#main-container {
  display: flex;
  border: 2px solid black;
  width: 700px;
  height: 270px;
  border-radius: 25px;
  margin: auto;
  margin-top: 50px;
}

.green-div {
  background-color: #88b46f;
  flex-grow: 3;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.paragraph-green-div p {
  text-align: center;
}
p {
  margin: 0;
}

.blue-div {
  background-color: #699afc;
  color: aliceblue;
  display: flex;
  align-items: flex-end;
  border-left: 2px solid black;
}
.paragraph-blue-div p {
  padding: 15px;
  font-weight: bold;
}

.main-yellow-div {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.first-yellow-div {
  background-color: #fbf7c0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 24px;
}
.second-yellow-div {
  background-color: #f7ed73;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-yellow-div {
  background-color: #f4e43e;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 24px;
}
